.App {
  width: 1280px;
  height: 960px;
}

h3 {
  text-align: center;
}

table {
  padding: 0%;
  margin: 1%;
  width: 400px;
}

th, td {
  margin: 0%;
  padding: 1%;
  text-align: left;
}

tbody {
  padding: 0%;
  margin: 1%;
  border: 1px solid black;
  width: auto;
  box-shadow: 5px 5px 15px black;
}

#pixelCat {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  box-shadow: 5px 5px 15px black;
  opacity: 8%;
}

.box-shadow {
  padding: 0%;
  margin: 1%;
  border: 1px solid black;
  width: auto;
  box-shadow: 5px 5px 15px black;
}

.SunriseSunset1 {
  position: absolute;
  top: 0%;
  left: 75%;
  margin: 10px;
  padding: 10px;
}

.SunriseSunset2 {
  position: absolute;
  top: 20%;
  left: 75%;
  margin: 10px;
  padding: 10px;
}

.Weather {
  position: absolute;
  top: 40%;
  left: 75%;
  margin: 10px;
  padding: 10px;
}

.dev-plug {
  position: absolute;
  bottom: 0%;
  left: 85%;
  margin: 10px;
  padding: 10px;
}

.CatDialogue {
  background-image: url("./images/pixel_cat_bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 1500px;
  height: 960px;
}

.CatTalk {
  position: absolute;
  left: 42%;
  top: 42%;
  max-width: 25%;
  min-width: 150px;
  word-wrap: break-word;
  font-size: 36px;
}